<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Freebie</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="index.html">Freebie</a></h1>
			<nav id="nav">
				<ul>
					
					<li><a href="/signup" class="button primary">Sign Up</a></li>
					<li><a href="/login" class="button primary">Login</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="content">

				<header>
					<h2>Give a gift</h2>
					<p>Freebie is a local community gifting group.<br />
						Members located near you can give and receive items for free.<br />
						Post what you would like to gift to your neighbors.<br />
						Place a bid on items you would like to win.<br />
						No payments will ever be required of you!</p>
				</header>
				<span class="image"><img src="assets/css/images/pic01.jpg" alt="" /></span>
			</div>
			<a href="#one" class="goto-next scrolly">Next</a>
		</section>

		<!-- One -->
		<section id="one" class="spotlight style1 bottom">
			<span class="image fit main"><img src="assets/css/images/pic022.jpg" alt="" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<header>
								<h2>Odio faucibus ipsum integer consequat</h2>
								<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
							</header>
						</div>
						<div class="col-4 col-12-medium">
							<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
								Blandit orci porttitor semper. Arcu phasellus tortor enim mi
								nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
								augue varius tempus lobortis porttitor accumsan consequat
								adipiscing lorem dolor.</p>
						</div>
						<div class="col-4 col-12-medium">
							<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
								adipiscing adipiscing metus massa. Blandit orci porttitor semper.
								Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
								mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
								ipsum dolor nullam.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#two" class="goto-next scrolly">Next</a>
		</section>

		<!-- Two -->
		<section id="two" class="spotlight style2 right">
			<span class="image fit main"><img src="assets/css/images/moving.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Interdum amet non magna accumsan</h2>
					<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
				</header>
				<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
				<ul class="actions">
					
				</ul>
			</div>
			<a href="#three" class="goto-next scrolly">Next</a>
		</section>

		<!-- Three -->
		<section id="three" class="spotlight style3 left">
			<span class="image fit main bottom"><img src="assets/css/images/shawn-fields-zsppCWsxJy0-unsplash.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Interdum felis blandit praesent sed augue</h2>
					<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
				</header>
				<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
				<ul class="actions">
				
				</ul>
			</div>
			<a href="#four" class="goto-next scrolly">Next</a>
		</section>

		<!-- Four -->
		<section id="four" class="wrapper style1 special fade-up">
			<div class="container">
				<header class="major">
					<h2>Come Meet The Team</h2>
					<p>Take a look at the team that made this application possible</p>
				</header>
				<div class="box alt">
					<div class="row gtr-uniform">
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel1'  class="icon solid alt major "></span>
							<h3><a  href='https://zwhitfield.dev/'>Zrybea Whitfield</a></h3>
							<p>Project Manger/Back-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel2'  class="icon solid alt major "></span>
							<h3><a href='https://amilordsportfolio.netlify.app/'>Asianna Milord</a></h3>
							<p>Front-end Manger</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel3'  class="icon solid alt major "></span>
							<h3 ><a href='https://guthembergt.com/'>Guthemberg Teixeira</a></h3>
							<p>Back-end Manger</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel4'  class="icon solid alt major "></span>
							<h3><a  href='https://dashncode.com/'>Dashlin Sermeil</a></h3>
							<p>Dev-Ops Manger</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel5'  class="icon solid alt major"></span>
							<h3><a href='https://edengebrezgi.netlify.app/'>Eden Gebrezgi</a></h3>
							<p>Front-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel6'  class="icon solid alt major "></span>
							<h3><a  href='https://jerrylafumedev.com/'>Jerry Lafume</a></h3>
							<p>Front-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel7'  class="icon solid alt major "></span>
							<h3><a href='https://jpmbvistro.com/'>Juan Paolo Miguel Bautista Vistro</a></h3>
							<p>Front-end Team</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel8'  class="icon solid alt major"></span>
							<h3><a  href='https://julietran.herokuapp.com/'>Julie Tran</a></h3>
							<p>Front-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel9'  class="icon solid alt major"></span>
							<h3><a href='https://ksandoval.dev/'>Kevin Sandoval</a></h3>
							<p>Front-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span  id='circel10' class="icon solid alt major"></span>
							<h3><a href='https://www.khorallypierre.com/'>Khorally Pierre</a></h3>
							<p>Front-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel11' class="icon solid alt major"></span>
							<h3><a  href='https://ksocode.netlify.app/'>Kiany Ortega</a></h3>
							<p>Front-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel12' class="icon solid alt major "></span>
							<h3><a  href='https://miggiegarciadev.netlify.app/'>Miggie Garcia</a></h3>
							<p>Front-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span  id='circel13' class="icon solid alt major "></span>
							<h3><a href='https://rodasghidei.netlify.app/#home'>Rodas Ghidei</a></h3>
							<p>Front-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel14' class="icon solid alt major "></span>
							<h3><a href='https://anvy-tran.netlify.app/' >Anvy Tran</a></h3>
							<p>Back-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel15' class="icon solid alt major "></span>
							<h3><a  href='https://www.brianmelara.dev/#work'>Brian Melara</a></h3>
							<p>Back-end Team</p>
						</section>
						<section   class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel16' class="icon solid alt major "></span>
							<h3><a href='https://danstankimuli.netlify.app/'>Danstan Kimuli</a></h3>
							<p>Back-end Team</p>
						</section>
						<section   class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel17' class="icon solid alt major "></span>
							<h3><a href='https://monicagoncalves.netlify.app/'>Monica Goncalves</a></h3>
							<p>Back-end Team</p>
						</section>
						<section   class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel18' class="icon solid alt major "></span>
							<h3><a href='https://www.tamikasterlin.com/'>Tamika Sterlin</a></h3>
							<p>Back-end Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel19' class="icon solid alt major "></span>
							<h3><a  href='https://desir.dev/'>Wade Desir</a></h3>
							<p>Back-end Team</p>
						</section>
						<section   class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel20' class="icon solid alt major "></span>
							<h3><a href='https://aliefeimamdev.netlify.app/'>Alief Imam</a></h3>
							<p>Dev-Ops Team</p>
						</section>
						<section  class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel21' class="icon solid alt major "></span>
							<h3><a href='https://davida-garner.netlify.app/'>Davida Garner</a></h3>
							<p>Dev-Ops Team</p>
						</section>
						<section   class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel22' class="icon solid alt major"></span>
							<h3><a href='https://chicajasmin.netlify.app/'>Jasmin Alvarez</a></h3>
							<p>Dev-Ops Team</p>
						</section>
						<section   class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel23' class="icon solid alt major"></span>
							<h3><a href='https://kevincharlesdev.com/'>Kevin Charles</a></h3>
							<p>Dev-Ops Team</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- Five -->
		<section id="five" class="wrapper style2 special fade">
			<div class="container">
				<header>
					<h2>Magna faucibus lorem diam</h2>
					<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
				</header>
				<form method="post" action="#" class="cta">
					<div class="row gtr-uniform gtr-50">
						<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
						<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
					</div>
				</form>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/resilientcoders" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/resilientcoders" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.linkedin.com/company/resilient-coders/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://github.com/Resilient-Labs" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>
